/* цвет основного текста #757575 */
/* цвет воричного текста #212121 */
/* третий цвет текста  #FFFFFF */
/* наведение на текст #2196F3 */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-color-text: #ffffff;
  --text-hover-color: #2196f3;
  --background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --address-text-color: rgba(255, 255, 255, 0.6);
}
/* общие */
body {
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
header {
  background-color: #ffffff;
}
footer {
  background-color: #2f303a;
}
b {
  color: var(--white-color-text);
  font-weight: 700;
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* кнопка */
.button {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
}

/* шапка */
.nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.link.active-link,
.nav .link:hover,
.nav .link:focus,
.contact-link:focus,
.contact-link:hover {
  color: var(--text-hover-color);
}
.logo {
  color: var(--secondary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web {
  color: var(--text-hover-color);
  font-family: Raleway, sans-serif;
}
.contact-link {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}
/* подвал */

.logo-footer {
  color: var(--white-color-text);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
}
.address {
  color: var(--white-color-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address-link {
  color: var(--address-text-color);
}
.developed {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}
/* main index */

/* общие */

.section > .section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* герой */
.hero-title {
  color: var(--white-color-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button.primary {
  background-color: var(--text-hover-color);
  color: var(--white-color-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
/* преимущества компании */
.section-title.features {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.text.features {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/* занятость */
.employment-list.link {
  color: var(--white-color-text);
  font-weight: bold;
  text-transform: uppercase;
}
/* спецыалисты компании */
.section.company-specialists {
  background-color: var(--background-color);
}
.section-title.specialist {
  color: var(--secondary-text-color);
  font-weight: 500;
}
.specialist {
  font-size: 16px;
  line-height: 1.19;
}
.specialist.name {
  font-weight: 400;
}
/* кнопка */
.button {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
}

/* main portfolio */
/* кнопка portfolio */
.button.filter {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.button.filter:focus,
.button.filter:hover {
  background-color: var(--text-hover-color);
  color: var(--white-color-text);
}
.job-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.text-work {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.hover-text-work {
  color: var(--white-color-text);
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}
